/*
 * Copyright (c) 2024 Huawei Device Co., Ltd. All rights reserved
 * Use of this source code is governed by a MIT license that can be
 * found in the LICENSE file.
 */

{
  "extends": "@react-native",
  "rules": {
    "react-native/no-inline-styles": "off",
    "react/no-unstable-nested-components": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "react-hooks/exhaustive-deps": "off",
    "radix": "off",
    "prettier/prettier": "warn",
    "max-lines": "off"
  }
}