.turbo

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
.eslintcache

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
.cxx
# Legacy Eclipse Settings
.settings/

# Externals
packages/skia/libs
packages/skia/cpp/skia/
packages/skia/cpp/dawn/

# BUCK
buck-out/
\.buckd/
*.keystore

# Build
dist
packages/*/lib/*