[submodule "externals/skia"]
	path = externals/skia
	url = https://chromium.googlesource.com/skia/
	branch = chrome/m142
[submodule "externals/depot_tools"]
	path = externals/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "externals/skia-web-app"]
	path = externals/skia-web-app
	url = https://github.com/wcandillon/skia-web-app.git
	branch = master
