{
	"extends": [
		"react-native-wcandillon"
	],
	"parserOptions": {
    "project": "./tsconfig.json"
  },
	"rules": {
		"react/react-in-jsx-scope": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/no-var-requires": "off",
		"prefer-destructuring": ["error", {"object": true, "array": false}],
		"import/extensions": ["error", { "pattern": { "sksl": "always" }}]
	}
}