name: Build NPM Package
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      WORKING_DIRECTORY: ./
    concurrency:
      group: npm-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup Nodejs and npm
        uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Setup yarn
        run: npm install -g yarn

      - name: Setup Nodejs with yarn caching
        uses: actions/setup-node@v2
        with:
          node-version: "14"
          cache: yarn

      - name: Install root node dependencies
        run: yarn

      - name: Download Skia Binary Artifacts
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: "build-skia.yml"
          path: artifacts

      - name: Copy Artifacts to libs folder
        run: yarn workflow-copy-libs

      - name: Copy Skia Headers
        run: yarn copy-skia-headers

      - name: Build NPM Package
        run: yarn build-npm

      - name: Get NPM Package name
        id: get_npm_package_name
        run: echo "::set-output name=npm_package_name::$(yarn get-filename-npm| grep ^'shopify')"

      - name: Upload artifacts - NPM Package
        uses: actions/upload-artifact@v2
        with:
          name: ${{steps.get_npm_package_name.outputs.npm_package_name}}
          path: ${{ env.WORKING_DIRECTORY }}/dist/*

      - name: Get NPM Package version
        id: get_npm_package_version
        run: echo "::set-output name=npm_package_version::$(yarn get-version-npm| tail -2)"

      - name: Create zipped version of npm package
        uses: montudor/action-zip@v1
        with:
          args: zip -qq -r ${{ env.WORKING_DIRECTORY }}/dist/${{steps.get_npm_package_name.outputs.npm_package_name}}.zip ${{ env.WORKING_DIRECTORY }}/dist/${{steps.get_npm_package_name.outputs.npm_package_name}}

      - name: Create Github Release
        uses: ncipollo/release-action@v1
        with:
          tag: "release-${{steps.get_npm_package_version.outputs.npm_package_version}}"
          artifacts: ${{ env.WORKING_DIRECTORY }}/dist/${{steps.get_npm_package_name.outputs.npm_package_name}}
          artifactContentType: application/gzip
          token: ${{ secrets.GITHUB_TOKEN }}
