name: Build SKIA
on: workflow_dispatch
jobs:
  build:
    #runs-on: ubuntu-latest
    runs-on: macos-latest
    env:
      WORKING_DIRECTORY: ./
    concurrency:
      group: skia-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup Android NDK
        id: setup-ndk
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r22b

      - name: Setup Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Setup Nodejs and npm
        uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Setup yarn
        run: npm install -g yarn

      - name: Setup Nodejs with yarn caching
        uses: actions/setup-node@v2
        with:
          node-version: "14"
          cache: yarn

      - name: Install root node dependencies
        run: yarn

      - name: Build Skia
        working-directory: ${{ env.WORKING_DIRECTORY }}/
        env:
          ANDROID_NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: yarn build-skia

      - name: Upload artifacts - Android arm
        uses: actions/upload-artifact@v2
        with:
          name: skia-android-arm
          path: |
            ${{ env.WORKING_DIRECTORY }}/externals/skia/out/android/arm/libskia.a
            ${{ env.WORKING_DIRECTORY }}/externals/skia/out/android/arm/libskshaper.a
            ${{ env.WORKING_DIRECTORY }}/externals/skia/out/android/arm/libsvg.a

      - name: Upload artifacts - Android arm64
        uses: actions/upload-artifact@v2
        with:
          name: skia-android-arm-64
          path: |
            ${{ env.WORKING_DIRECTORY }}/externals/skia/out/android/arm64/libskia.a
            ${{ env.WORKING_DIRECTORY }}/externals/skia/out/android/arm64/libskshaper.a
            ${{ env.WORKING_DIRECTORY }}/externals/skia/out/android/arm64/libsvg.a

      - name: Upload artifacts - Android x86
        uses: actions/upload-artifact@v2
        with:
          name: skia-android-arm-x86
          path: |
            ${{ env.WORKING_DIRECTORY }}/externals/skia/out/android/x86/libskia.a
            ${{ env.WORKING_DIRECTORY }}/externals/skia/out/android/x86/libskshaper.a
            ${{ env.WORKING_DIRECTORY }}/externals/skia/out/android/x86/libsvg.a

      - name: Upload artifacts - Android x64
        uses: actions/upload-artifact@v2
        with:
          name: skia-android-arm-x64
          path: |
            ${{ env.WORKING_DIRECTORY }}/externals/skia/out/android/x64/libskia.a
            ${{ env.WORKING_DIRECTORY }}/externals/skia/out/android/x64/libskshaper.a
            ${{ env.WORKING_DIRECTORY }}/externals/skia/out/android/x64/libsvg.a

      - name: Upload artifacts - iOS xcframeworks
        uses: actions/upload-artifact@v2
        with:
          name: skia-ios-xcframeworks
          path: |
            ${{ env.WORKING_DIRECTORY }}/package/libs/ios/libskia.xcframework
            ${{ env.WORKING_DIRECTORY }}/package/libs/ios/libskshaper.xcframework
            ${{ env.WORKING_DIRECTORY }}/package/libs/ios/libsvg.xcframework
