name: Build SKIA
on: workflow_dispatch
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Android NDK
        id: setup-ndk
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r22b

      - name: Setup Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Cache dependencies
        id: yarn-cache
        uses: actions/cache@v3
        with:
          path: |
            **/node_modules
            .yarn/install-state.gz
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}-${{ hashFiles('**/package.json', '!node_modules/**') }}
          restore-keys: |
            ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
            ${{ runner.os }}-yarn-
  
      - name: Install dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install --immutable
        shell: bash

      - name: Build Skia
        working-directory: ./packages/skia
        env:
          ANDROID_NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: yarn build-skia

      - name: Upload artifacts - Android arm
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v3
        with:
          name: skia-android-arm
          path: |
            ./externals/skia/out/android/arm/libskia.a
            ./externals/skia/out/android/arm/libskshaper.a
            ./externals/skia/out/android/arm/libsvg.a
            ./externals/skia/out/android/arm/libskottie.a
            ./externals/skia/out/android/arm/libsksg.a
            ./externals/skia/out/android/arm/libskparagraph.a
            ./externals/skia/out/android/arm/libskunicode_core.a
            ./externals/skia/out/android/arm/libskunicode_icu.a

      - name: Upload artifacts - Android arm64
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v3
        with:
          name: skia-android-arm-64
          path: |
            ./externals/skia/out/android/arm64/libskia.a
            ./externals/skia/out/android/arm64/libskshaper.a
            ./externals/skia/out/android/arm64/libsvg.a
            ./externals/skia/out/android/arm64/libskottie.a
            ./externals/skia/out/android/arm64/libsksg.a
            ./externals/skia/out/android/arm64/libskparagraph.a
            ./externals/skia/out/android/arm64/libskunicode_core.a
            ./externals/skia/out/android/arm64/libskunicode_icu.a

      - name: Upload artifacts - Android x86
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: skia-android-arm-x86
          path: |
            ./externals/skia/out/android/x86/libskia.a
            ./externals/skia/out/android/x86/libskshaper.a
            ./externals/skia/out/android/x86/libsvg.a
            ./externals/skia/out/android/x86/libskottie.a
            ./externals/skia/out/android/x86/libsksg.a
            ./externals/skia/out/android/x86/libskparagraph.a
            ./externals/skia/out/android/x86/libskunicode_core.a
            ./externals/skia/out/android/x86/libskunicode_icu.a

      - name: Upload artifacts - Android x64
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: skia-android-arm-x64
          path: |
            ./externals/skia/out/android/x64/libskia.a
            ./externals/skia/out/android/x64/libskshaper.a
            ./externals/skia/out/android/x64/libsvg.a
            ./externals/skia/out/android/x64/libskottie.a
            ./externals/skia/out/android/x64/libsksg.a
            ./externals/skia/out/android/x64/libskparagraph.a
            ./externals/skia/out/android/x64/libskunicode_core.a
            ./externals/skia/out/android/x64/libskunicode_icu.a

      - name: Upload artifacts - iOS xcframeworks
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: skia-ios-xcframeworks
          path: |
            ./packages/skia/libs/ios/*.xcframework
