name: Build SKIA
on: workflow_dispatch
jobs:
  build:
    runs-on: macos-latest-xlarge
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Android NDK
        id: setup-ndk
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r22b

      - name: Setup Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Setup
        uses: ./.github/actions/setup
        with:
          download_skia: 'false'
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Skia
        working-directory: ./packages/skia
        env:
          ANDROID_NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
          GIT_SYNC_DEPS_SKIP_EMSDK: 'true'
        run: yarn build-skia

      - name: Set artifact prefix
        id: artifact-prefix
        run: |
          if [[ ${{ github.ref }} == 'refs/heads/next' ]]; then
            echo "prefix=next-" >> $GITHUB_OUTPUT
          else
            echo "prefix=" >> $GITHUB_OUTPUT
          fi

      - name: Upload artifacts - Android arm
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.artifact-prefix.outputs.prefix }}skia-android-arm
          path: |
            ./externals/skia/out/android/arm/libskia.a
            ./externals/skia/out/android/arm/libskshaper.a
            ./externals/skia/out/android/arm/libsvg.a
            ./externals/skia/out/android/arm/libskottie.a
            ./externals/skia/out/android/arm/libsksg.a
            ./externals/skia/out/android/arm/libskparagraph.a
            ./externals/skia/out/android/arm/libskunicode_core.a
            ./externals/skia/out/android/arm/libskunicode_icu.a

      - name: Upload artifacts - Android arm64
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.artifact-prefix.outputs.prefix }}skia-android-arm-64
          path: |
            ./externals/skia/out/android/arm64/libskia.a
            ./externals/skia/out/android/arm64/libskshaper.a
            ./externals/skia/out/android/arm64/libsvg.a
            ./externals/skia/out/android/arm64/libskottie.a
            ./externals/skia/out/android/arm64/libsksg.a
            ./externals/skia/out/android/arm64/libskparagraph.a
            ./externals/skia/out/android/arm64/libskunicode_core.a
            ./externals/skia/out/android/arm64/libskunicode_icu.a

      - name: Upload artifacts - Android x86
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.artifact-prefix.outputs.prefix }}skia-android-arm-x86
          path: |
            ./externals/skia/out/android/x86/libskia.a
            ./externals/skia/out/android/x86/libskshaper.a
            ./externals/skia/out/android/x86/libsvg.a
            ./externals/skia/out/android/x86/libskottie.a
            ./externals/skia/out/android/x86/libsksg.a
            ./externals/skia/out/android/x86/libskparagraph.a
            ./externals/skia/out/android/x86/libskunicode_core.a
            ./externals/skia/out/android/x86/libskunicode_icu.a

      - name: Upload artifacts - Android x64
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.artifact-prefix.outputs.prefix }}skia-android-arm-x64
          path: |
            ./externals/skia/out/android/x64/libskia.a
            ./externals/skia/out/android/x64/libskshaper.a
            ./externals/skia/out/android/x64/libsvg.a
            ./externals/skia/out/android/x64/libskottie.a
            ./externals/skia/out/android/x64/libsksg.a
            ./externals/skia/out/android/x64/libskparagraph.a
            ./externals/skia/out/android/x64/libskunicode_core.a
            ./externals/skia/out/android/x64/libskunicode_icu.a

      - name: Upload artifacts - Apple xcframeworks
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.artifact-prefix.outputs.prefix }}skia-apple-xcframeworks
          path: |
            ./packages/skia/libs/apple/*.xcframework
